$bg: #eeefed;

.reveal-content {
  position: relative;
  overflow: hidden;
}
.reveal-content {
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
  &.revealed{
    transform: scaleX(1);
  }
}