<app-header *ngIf="contact"></app-header>
<app-layout *ngIf="contact">
    <div class="wrapper x-hidden">
        <app-line-reveal>
            <div class="line horizontal"></div>
        </app-line-reveal>
    </div>
    <div class="wrapper wrapper--x-gap-45 wrapper--bottom-30 wrapper--m-top-0 wrapper--m-bottom-75 d-flex flex-column justify-content-between gap-100">
        <app-paragraph-reveal classSelector="title">
            <h1 class="title text-uppercase text-white" [innerHTML]="contact?.contactFields?.title"></h1>
        </app-paragraph-reveal>
    </div>
    <div class="wrapper wrapper--m-bottom-195">
        <div class="form">
            <form action="">
                <div class="d-grid grid-m-34 form-wrap form-wrap--extra form-radio ">
                    <div class="col-left x-hidden">
                    </div>
                    <!--
                    CRIS
                    contactFormSubjectOptions {
                        option
                    }
                    
                    -->

                    <div class="col-right align-inline">
                        <div class="form-group">
                            <input type="radio" id="new-project" name="type" value="new-project" required>
                            <label for="new-project">New Project</label><br>
                        </div>
                        <div class="form-group">
                            <input type="radio" id="careers" name="type" value="careers">
                            <label for="careers">Careers</label><br>
                        </div>
                        <div class="form-group">
                            <input type="radio" id="Partnership" name="type" value="Partnership">
                            <label for="Partnership">Partnership</label>
                        </div>
                        <span class="form-error">Please select one option.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap form-text">
                    <div class="col-left">
                        <label for="inputName">Name</label>
                    </div>
                    <div class="col-right">
                        <input name="inputName" id="inputName" type="text" placeholder="Name *" required>
                        <span class="form-error">Please include your name.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap">
                    <div class="col-left">
                        <label for="inputCompany">Company</label>
                    </div>
                    <div class="col-right">
                        <input name="inputCompany" id="inputCompany" type="text" placeholder="Company *" required>
                        <span class="form-error">Please include your company.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap form-text">
                    <div class="col-left">
                        <label for="inputPosition">Position</label>
                    </div>
                    <div class="col-right">
                        <input name="inputPosition" id="inputPosition" type="text" placeholder="Position *" required>
                        <span class="form-error">Please include your position.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap form-text">
                    <div class="col-left">
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="col-right">
                        <input name="inputEmail" id="inputEmail" type="email" placeholder="Email *" required>
                        <span class="form-error">Please include your email.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap form-text">
                    <div class="col-left">
                        <label for="inputPhone">Phone</label>
                    </div>
                    <div class="col-right">
                        <input name="inputPhone" id="inputPhone" type="text" placeholder="Phone *" required>
                        <span class="form-error">Please inclue your phone.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap form-select">
                    <div class="col-left">
                        <label for="inputHear">How did you hear from us?</label>
                    </div>
                    <!--
                   
                    CRIS
                    howDidYouHearFromUs {
                        option
                    }
                    
                    -->
                    <div class="col-right">
                        <select name="inputHear" id="inputHear" required>
                            <option value="" selected>Select *</option>
                            <option value="option 1">Option 1</option>
                            <option value="option 2">Option 2</option>
                            <option value="option 3">Option 3</option>
                            <option value="option 4">Option 4</option>
                        </select>
                        <span class="form-error">Please select one option.</span>
                    </div>
                </div>
                <app-line-reveal>
                    <div class="line horizontal"></div>
                </app-line-reveal>
                <div class="d-grid grid-m-34 form-wrap form-textarea">
                    <div class="col-left">
                        <label for="inputBrief">Brief/Need</label>
                    </div>
                    <div class="col-right">
                        <textarea rows="4" name="inputBrief" id="inputBrief"
                            placeholder="Enter a brief description of your need. 500 characters maximum. *"
                            required></textarea>
                        <span class="form-error">Please include your Brief/Need.</span>
                    </div>
                </div>
                <div class="wrapper wrapper--x-0 wrapper--m-top-75 wrapper--m-bottom-75">
                    <app-line-reveal>
                        <div class="line horizontal"></div>
                    </app-line-reveal>
                </div>
                <div class="d-grid grid-m-34 form-wrap form-wrap-m ">
                    <div class="col-left">
                        <p class="text-m text-white">{{contact?.contactFields?.formNotice}}
                        </p>
                    </div>
                    <div class="col-right">
                        <a class="btn btn--inverted btn--icon btn--small">{{contact?.contactFields?.formButton}} <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.03 11.66"><path d="M0,5.4h25.56c-.65-.85-1.31-1.7-2.06-2.7l-2.06-2.7h1.2l4.4,5.83-4.4,5.83h-1.2l2.06-2.7c.74-.98,1.41-1.85,2.05-2.69H0v-.87Z" style="fill:#000;" /></svg></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-layout>
<app-footer *ngIf="contact"></app-footer>