<app-header></app-header>
<app-layout>
  <ng-container *ngIf="page">
    <div class="wrapper">
      <app-line-reveal>
        <div class="line horizontal"></div>
      </app-line-reveal>
    </div>
    <div class="wrapper wrapper--top-0 wrapper--m-bottom-75">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase text-white">{{ page?.title }}</h1>
      </app-paragraph-reveal>
    </div>
  </ng-container>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 min-h-400 d-flex flex-column justify-content-between">
    <div class="container container--small">
      <p class="text">Since 2003, we have partnered with our clients to build and differentiate their brands, whit a
        unique methodology distinctive approach defined by honesty, driven by insights, and focused on integrated brand
        strategy.</p>
    </div>
  </div>
</app-layout>
<app-footer></app-footer>
