$mq-tablet: 768px;
$mq-desktop: 1200px;
$black: #000;
$grey: #b9bab7;
$white: #fff;

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .logo{
        width: 140px;
    }
    .nav{
        .list{
            display: flex;
            align-items: center;
            gap: 35px;
            @media (min-width: $mq-desktop) {
                gap: 70px;
            }
            .menu-item{
                font-size: var(--body-xs-font-size);
                padding: 5px;
                line-height: var(--body-line-height);
                .link{
                    color: $black;
                    &.active{
                        color: $grey;
                    }
                    &:hover{
                        color: $grey;
                    }
                }
            }
        }
    }
}