<app-header></app-header>
<app-layout>
  <ng-container *ngIf="page">
    <div class="wrapper">
      <app-line-reveal>
        <div class="line horizontal"></div>
      </app-line-reveal>
    </div>
    <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 min-h-400 d-flex flex-column justify-content-between">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">
          {{page?.companyFields?.title}}
        </h1>
      </app-paragraph-reveal>
      <div class="container container--small">
        <p class="text">{{page?.companyFields?.description}}</p>
      </div>
    </div>
  </ng-container>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">STORY</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="container">
        <p class="text">We are passionate, a bit crazy with ideas and big-minded - always striving for the stars —
          working side-by-side with our clients and partners to tackle branding and marketing challenges together...as a
          team.</p>
        <p class="text">We are passionate, a bit crazy with ideas and big-minded - always striving for the stars —
          working side-by-side with our clients and partners to tackle branding and marketing challenges together...as a
          team.</p>
        <p class="text">We are passionate, a bit crazy with ideas and big-minded - always striving for the stars —
          working side-by-side with our clients and partners to tackle branding and marketing challenges together...as a
          team.</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 grid-m-34">
    <div class="col-left d-flex flex-column gap-m-120">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">VALUES</h1>
      </app-paragraph-reveal>
      <div class="container container--xsmall">
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the manner in which we do it.</p>
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the in which we do it.</p>
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the in which we do it.</p>
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the in which we do it.</p>
      </div>
    </div>
    <div class="d-flex col-right justify-content-between gap-20">
      <div class="d-flex flex-column gap-m-120 container container--xsmall">
        <app-paragraph-reveal classSelector="title">
          <h1 class="title text-uppercase">VALUES</h1>
        </app-paragraph-reveal>
        <div class="container">
          <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do
            and
            the manner in which we do it.</p>
        </div>
      </div>
      <div class="d-flex flex-column gap-m-120 container container--xsmall">
        <app-paragraph-reveal classSelector="title">
          <h1 class="title text-uppercase">VALUES</h1>
        </app-paragraph-reveal>
        <div class="container">
          <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do
            the manner in which we do it.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">LEADERSHIP</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="container">
        <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a wide
          range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality, and
          technology</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--bottom-0 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title-s text-uppercase fw-light">Lucas D. Alvarez</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="accordion active">
        <div class="accordion-title">
          <h4 class="title-s text-grey fw-light">Creative Director & Co-founder</h4>
          <div class="button button--plus"></div>
        </div>
        <div class="accordion-content">
          <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a wide
            range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality, and
            technology</p>
            <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a wide
              range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality, and
              technology</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--bottom-0 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title-s text-uppercase fw-light">Lucas D. Alvarez</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="accordion">
        <div class="accordion-title">
          <h4 class="title-s text-grey fw-light">Creative Director & Co-founder</h4>
          <div class="button button--plus"></div>
        </div>
        <div class="accordion-content">
          <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a wide
            range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality, and
            technology</p>
            <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a wide
              range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality, and
              technology</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper--m-bottom-195">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-75 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">SELECTED CLIENTS</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="container">
        <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a wide
          range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality, and
          technology</p>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-top-75 wrapper--m-bottom-75 ">
    <div class="logos">
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
    </div>
  </div>
</app-layout>
<app-footer></app-footer>
