<app-header *ngIf="page"></app-header>
<app-layout *ngIf="page">
  <div class="wrapper x-hidden">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div
    class="wrapper wrapper--x-gap-45 wrapper--bottom-30 wrapper--m-top-0 wrapper--m-bottom-75 d-flex flex-column justify-content-between gap-100">
    <div class="container container--medium">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase" [innerHTML]="page?.companyFields?.title">
        </h1>
      </app-paragraph-reveal>
    </div>
    <div class="container container--small">
      <p class="text">{{page?.companyFields?.description}}</p>
    </div>
  </div>
  <div class="wrapper wrapper--x-x-0">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--bottom-60 wrapper--m-bottom-195 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">{{page?.companyFields?.story}}</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="container">
        <p class="text" [innerHTML]="page?.companyFields?.storyDescription"></p>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper--x-x-0">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 grid-m-34 s-hidden">
    accordeon
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-195 grid-m-34 x-hidden">
    <div class="col-left d-flex flex-column gap-50 gap-m-120">
      <app-paragraph-reveal classSelector="title">
        <h4 class="title text-uppercase">{{page?.companyFields?.values}}</h4>
      </app-paragraph-reveal>
      <!--
      CRIS
        valuesItems {
          subDescription
          subTitle
    } --> 
      <div class="container container--xsmall">
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the manner in which we do it.</p>
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the in which we do it.</p>
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the in which we do it.</p>
        <h4 class="text-m text-grey">Commitment</h4>
        <p class="text-m">We do the right thing: this is our business strategy foundation; it guides the work we do and
          the in which we do it.</p>
      </div>
    </div>
    <div class="col-right justify-content-between gap-20">
      <div class="d-flex flex-column gap-50 gap-m-120 container container--xsmall">
        <app-paragraph-reveal classSelector="title">
          <h4 class="title text-uppercase">{{page?.companyFields?.mission}}</h4>
        </app-paragraph-reveal>
        <div class="container">
          <p class="text-m" [innerHTML]="page?.companyFields?.missionDescription"></p>
        </div>
      </div>
      <div class="d-flex flex-column gap-50 gap-m-120 container container--xsmall">
        <app-paragraph-reveal classSelector="title">
          <h4 class="title text-uppercase">{{page?.companyFields?.vision}}</h4>
        </app-paragraph-reveal>
        <div class="container">
          <p class="text-m" [innerHTML]="page?.companyFields?.visionDescription"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper--x-x-0">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--bottom-30 wrapper--m-bottom-75 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">{{page?.companyFields?.leadership}}</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="container">
        <p class="text" [innerHTML]="page?.companyFields?.leadershipDescription"></p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
        <!--
      CRIS
        team {
          edges {
            node {
              ... on TeamMember {
                teamSingleFields {
                  title
                  description
                }
              }
            }
          }
        } --> 
  <div class="accordion active wrapper wrapper--top-0 wrapper--bottom-0 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title-s text-uppercase fw-light">Lucas D. Alvarez</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="accordion-title">
        <h4 class="title-s text-grey fw-light">Creative Director & Co-founder</h4>
        <div class="button button--plus"></div>
      </div>
    </div>
    <div class="col-left accordion-content-left">
    </div>
    <div class="col-right accordion-content-left">
      <div class="accordion-content">
        <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a
          wide
          range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality,
          and
          technology</p>
        <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a
          wide
          range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality,
          and
          technology</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="accordion wrapper wrapper--top-0 wrapper--bottom-0 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title-s text-uppercase fw-light">Lucas D. Alvarez</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="accordion-title">
        <h4 class="title-s text-grey fw-light">Creative Director & Co-founder</h4>
        <div class="button button--plus"></div>
      </div>
    </div>
    <div class="col-left accordion-content-left">
    </div>
    <div class="col-right accordion-content-right">
      <div class="accordion-content">
        <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a
          wide
          range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality,
          and
          technology</p>
        <p class="text">Over the years, we have transcended industry boundaries and left a significant impact on a
          wide
          range of sectors, including but not limited to entertainment, beverage, fashion, real estate, hospitality,
          and
          technology</p>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper--m-bottom-195">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-45 wrapper-m--top-25 wrapper--x-x-0">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>
  </div>
  <div class="wrapper wrapper--top-0 wrapper--m-bottom-75 grid-m-34">
    <div class="col-left">
      <app-paragraph-reveal classSelector="title">
        <h1 class="title text-uppercase">{{page?.companyFields?.clients}}</h1>
      </app-paragraph-reveal>
    </div>
    <div class="col-right">
      <div class="container">
        <p class="text" [innerHTML]="page?.companyFields?.clientsDescription"></p>
      </div>
    </div>
  </div>
  <!-- CRIS
  clientsLogos {
          edges {
            node {
              ... on Client {
                title
                featuredImage {
                  node {
                    id
                  }
                }
              }
            }
          } 
  
  -->
  <div class="wrapper wrapper-m--top-0 wrapper--m-bottom-195">
    <div class="logos">
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
      <div class="logo-img">
        <img src="https://innovart.mystagingwebsite.com/wp-content/uploads/2024/09/logo_google_nuevo.jpg" />
      </div>
    </div>
  </div>
</app-layout>
<app-footer *ngIf="page"></app-footer>