<!--
<app-header></app-header>
<app-layout>
  <div class="wrapper wrapper--top-25 wrapper--bottom-50">
    <app-line-reveal>
      <div class="line horizontal"></div>
    </app-line-reveal>    
    <h1 class="title title-big"> title </h1>
    <div class="container container--small">
      <p class="text"> description </p>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line line--mr horizontal"></div>
    </app-line-reveal>
    <div class="d-flex 50 50">
      <div class="">
        <h1 class="title"> story </h1>
      </div>
      <div class="">
        <p class="text"> description </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <app-line-reveal>
      <div class="line line--mr horizontal"></div>
    </app-line-reveal>
    <div class="d-flex 50 50">
      <div class="">
        <h1 class="title"> values </h1>
        <div>
          <div>
            <h5>title</h5>
            <p>description</p>
          </div>
          <div>
            <h5>title</h5>
            <p>description</p>
          </div>
          <div>
            <h5>title</h5>
            <p>description</p>
          </div>
        </div>
      </div>
      <div class="">
        <div>
          <h1 class="title"> vision </h1>
          <p class="text"> description </p>
        </div>
        <div>
          <h1 class="title"> mision </h1>
          <p class="text"> description </p>
        </div>
      </div>
    </div>
  </div>  
  <div class="wrapper">
    <app-line-reveal>
      <div class="line line--mr horizontal"></div>
    </app-line-reveal>
    <div class="d-flex 50 50">
      <div class="">
        <h1 class="title"> leadership </h1>
      </div>
      <div class="">
        <p class="text"> description </p>
      </div>
    </div>
  </div>  
  <div class="wrapper">
    <app-line-reveal>
      <div class="line line--mr horizontal"></div>
    </app-line-reveal>
    <div class="d-flex 50 50">
      <div class="">
        <h1 class="title"> lucas </h1>
      </div>
      <div class="">
        <p class="text"> toggle </p>
      </div>
    </div>
  </div>    
  <div class="wrapper">
    <app-line-reveal>
      <div class="line line--mr horizontal"></div>
    </app-line-reveal>
    <div class="d-flex 50 50">
      <div class="">
        <h1 class="title"> selected clientes </h1>
      </div>
      <div class="">
        <p class="text"> description </p>
      </div>
    </div>
    <div>clients images</div>
  </div>      
  <div class="wrapper">
    <hr class="divider divider--m0">
  </div>
  <div class="wrapper wrapper--top-75 wrapper--bottom-75">
    <h2 class="title title-s w-min text-uppercase">Load mor<br>Projects</h2>
  </div>
</app-layout>-->
