@import "../../../variables";

.main-carousel {
  height: 630px;
}

.carousel-cell {
  margin-right: 25px;

  img {
    width: 100%;
    height: 630px;
    object-fit: cover;
  }
}

.arrows {
  &.inside {
    position: absolute;
    bottom: 22px;
    left: 22px;

    .arrow {
      svg {
        rect {
          fill: $black !important;
          fill-opacity: 0;
        }
      }

      &:hover {
        svg {
          rect {
            fill-opacity: 1;
          }
        }
      }
    }
  }

  &.outside {
    margin-top: 22px;

    .arrow {
      svg {
        rect {
          fill: $white !important;
          fill-opacity: 0;
        }
      }

      &:hover {
        svg {
          rect {
            fill-opacity: 1;
          }
        }
      }
    }
  }

  display: flex;
  gap: 10px;

  .arrow {
    display: flex;
    width: 52px;

    svg * {
      transition: all .5s;
    }
  }
}
