@import "../../../variables";

.main-carousel {
  height: 100%;

  @media (min-width: $mq-tablet) {
    height: 39.4vw;
  }

  @media (min-width: $mq-wide) {
    height: 630px;
  }

  .carousel-cell {
    margin-right: 15px;

    @media (min-width: $mq-tablet) {
      margin-right: 25px;
    }

    img {
      padding: 0 1px;
      object-fit: cover;
      min-height: 200px;

      @media (min-width: $mq-tablet) {}

      @media (min-width: $mq-wide) {
        height: 630px;
        max-height: unset;
      }
    }
  }

  &.big {
    @media (min-width: $mq-tablet) {
      height: 50vw;
    }

    @media (min-width: $mq-wide) {
      height: 800px;
    }

    .carousel-cell {
      img {
        @media (min-width: $mq-wide) {
          max-height: unset;
        }
      }
    }
  }
}

.arrows {
  &.inside {
    @media (max-width: ($mq-tablet - 1px)) {
      display: none !important;
    }
    position: absolute;
    bottom: 22px;
    left: 22px;

    .arrow {
      cursor: pointer;

      svg {
        rect {
          fill: $black !important;
          fill-opacity: 0;
        }
      }

      &:hover {
        svg {
          rect {
            fill-opacity: 1;
          }
        }
      }
    }
  }

  &.outside {

    @media (max-width: ($mq-tablet - 1px)) {
      display: none !important;
    }

    margin-top: 22px;

    .arrow {
      svg {
        rect {
          fill: $white !important;
          fill-opacity: 0;
        }
      }

      &:hover {
        svg {
          rect {
            fill-opacity: 1;
          }
        }
      }
    }
  }

  display: flex;
  gap: 10px;

  .arrow {
    display: flex;
    width: 52px;

    svg * {
      transition: all .5s;
    }
  }
}