@import "../../../variables";

.text-carousel {

  .carousel-cell {
    @media (min-width: $mq-tablet) {
      width: 80%;
      padding: 0 25px;
    }    
    @media (min-width: $mq-desktop) {
      padding: 0 50px;
    }    
    @media (min-width: $mq-wide) {
      width: calc(100% - 920px);
      padding: 0 75px;
    }  
    
    .testimonial-slider {
      transition: all .5s;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 50px;
      @media (min-width: $mq-tablet) {
        gap: 35px;
      }
      @media (min-width: $mq-desktop) {
        gap: 70px;
        padding-bottom: 120px;
      }
      color: $grey;

      .testimonial-info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .testimonial-name {}

        .testimonial-title {}

        .testimonial-company {
          color: $grey;
        }
      }
    }
    &.is-selected{
      .testimonial-slider {
        color: $black;
        .testimonial-info {

          .testimonial-name {}

          .testimonial-title {}

          .testimonial-company {

          }
        }
      }
    }
  }
}
.arrows{
  
  @media (min-width: $mq-tablet) {
    width: 80%;
  }    
  @media (min-width: $mq-desktop) {
    
  }    
  @media (min-width: $mq-wide) {
    width: calc(100% - 920px);
  }  
  margin: 0 auto;
  display: flex;
  gap: 10px;
  .arrow{
    cursor: pointer;
    display: flex;
    width: 52px;
    svg * {
      transition: all .5s;
    }
    &:hover{
      svg{
        rect{
          stroke: $black!important;
        }
        path{
          fill: $black!important;
        }
      }
    }
  }
}
