@import "../../../assets/styles/_variables.scss";

.work {
  display: flex;
  justify-content: space-between;
  height: 630px;

  .info {
    flex: 0 1 400px;
    /* fixed width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
    gap: 30px;
  }

  .info-description {
    display: grid;
    gap: 40px;

    .info-box {
      display: flex;
      justify-content: space-between;

      &-client {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }

      &-images {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
    }
  }

  .gallery {
    flex: 1 1 auto;
    /* dynamic width */
  }
}