@import "../../../variables";

.work {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 15px;

  @media (max-width: $mq-tablet - 1px) {
    padding: 0 30px;
  }

  @media (min-width: $mq-tablet) {
    gap: 0;
    flex-direction: row;
    height: 400px;
  }

  @media (min-width: $mq-desktop) {
    height: 630px;
  }

  .info {
    @media (min-width: $mq-tablet) {
      flex: 0 1 30%;
      max-width: 400px;
    }

    @media (min-width: $mq-wide) {
      flex: 0 1 400px;
    }

    /* fixed width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
    gap: 30px;

    .info-title{
      flex: 1 1 auto;
    }

    .info-description {
      display: none;
      flex: 0 1 auto;
      @media (min-width: $mq-tablet) {
        display: grid;
      }

      gap: 40px;

      .info-box {
        display: flex;
        justify-content: space-between;

        &-client {
          display: flex;
          flex-direction: column;
          gap: 3px;
        }

        &-images {
          display: flex;
          flex-direction: column;
          gap: 0;
        }
      }
    }
  }

  .gallery {
    height: 50vw;
    min-height: 200px;
    max-height: 400px;

    @media (min-width: $mq-tablet) {
      flex-direction: row;
      height: 100%;
      max-height: unset;
    }

    flex: 1 1 auto;
    /* dynamic width */
  }
}