/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.margin-wrapper {
  padding: 1rem;

  .left-p {}
  .right-p {
    width: 50%;
    margin-left: auto;
  }
}
